#bg {
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  transition: opacity 800ms ease-in-out;
  width: 100%;
  z-index: -1;

  div {
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 800ms ease-in-out;
    visibility: hidden;
    width: 125%;

    &.visible {
      animation: background-slide 32s linear infinite;
      opacity: 1;
      visibility: visible;
      z-index: 1;

      &.top {
        z-index: 2;
      }
    }
  }

  body.is-loading & {
    opacity: 0;
  }
}

@keyframes background-slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-25%);
  }
}
