.footer {
  bottom: 0;
  left: 0;
  margin-bottom: 2rem;
  position: absolute;
  right: 0;
  text-align: center;

  @media (min-width: 768px) {
    margin-left: 4rem;
    text-align: left;
  }

  // Social links and contact details.
  &__social {
    @include horizontal-list;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 1.5rem;
    }

    &-item {
      margin-right: 1.25rem;

      @media (min-width: 768px) {
        margin-right: 1.85rem;
      }
    }

    &-icon {
      height: 25px;
      opacity: 0.5;
      transition: opacity ease-in-out 250ms;
      width: 25px;

      @media (min-width: 768px) {
        height: 30px;
        width: 30px;
      }

      &:hover {
        opacity: 1;
      }
    }

    &-label {
      display: none;
    }
  }

  // Copyright links underneath Social links.
  &__copyright {
    @include horizontal-list;

    &-item {
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5);
      font-family: Roboto, sans-serif;
      font-size: 1rem;
      letter-spacing: -1px;
      line-height: 0.9;
      margin-right: 1rem;
      padding-right: 1rem;

      @media (min-width: 768px) {
        font-size: 1.25rem;
        margin-right: 1.25rem;
        padding-right: 1.25rem;
      }

      &:last-child {
        border-right-style: none;
        padding-right: 0;
      }
    }

    &-link {
      border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
      color: inherit;
      cursor: pointer;
      text-decoration: none;
      transition: all ease-in-out 250ms;

      &:hover {
        border-bottom-color: #fff;
        color: #fff;
      }
    }
  }
}
