.header {
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $bp-desktop) {
    margin-left: 4rem;
    max-width: 400px;
    padding: 0;
    text-align: left;
  }

  &__title {
    color: rgba(255, 255, 255, 0.9);
    font-family: Rubik, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 1.4;
    margin: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;

    @media (min-width: $bp-desktop) {
      font-size: 3.5rem;
      line-height: 1.25;
    }
  }

  &__slogan {
    color: rgba(255, 255, 255, 0.9);
    font-family: Roboto, sans-serif;
    font-size: 1.35rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.9rem;
    margin: 0;

    @media (min-width: $bp-desktop) {
      font-size: 1.6rem;
    }
  }
}
