<!DOCTYPE HTML>
<html>
  <head>
    <title>ArgenDev</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="css/{{name}}.{{version}}.min.css" />
  </head>
  <body>

    <div class="container">
      <header class="header">
        <h1 class="header__title">abcdefgh</h1>
        <p class="header__slogan">
          Custom software solutions for those who want to stand out from the crowd.
        </p>
      </header>

      <footer class="footer">
        <ul class="footer__social">
          <li class="footer__social-item">
            <a href="tel:+16283335444" class="footer__social-link">
              <img src="images/phone.svg" alt="" class="footer__social-icon" />
              <span class="footer__social-label">Phone</span>
            </a>
          </li>

          <li class="footer__social-item">
            <a href="mailto:hi@argendev.com" class="footer__social-link">
              <img src="images/email.svg" alt="" class="footer__social-icon" />
              <span class="footer__social-label">Email</span>
            </a>
          </li>

          <li class="footer__social-item">
            <a href="https://facebook.com/ArgenDev" class="footer__social-link">
              <img src="images/facebook.svg" alt="" class="footer__social-icon" />
              <span class="footer__social-label">Facebook</span>
            </a>
          </li>

          <li class="footer__social-item">
            <a href="https://www.linkedin.com/company/argendev" class="footer__social-link">
              <img src="images/linkedin.svg" alt="" class="footer__social-icon" />
              <span class="footer__social-label">LinkedIn</span>
            </a>
          </li>

          <li class="footer__social-item">
            <a href="https://github.com/argendev" class="footer__social-link">
              <img src="images/github.svg" alt="" class="footer__social-icon" />
              <span class="footer__social-label">GitHub</span>
            </a>
          </li>
        </ul>

        <ul class="footer__copyright">
          <li class="footer__copyright-item">&copy; ArgenDev</li>
          <li class="footer__copyright-item">
            <a href="mailto:hi@argendev.com" class="footer__copyright-link">
              hi@argendev.com
            </a>
          </li>
        </ul>
      </footer>
    </div>

    <script src="js/{{ name }}.{{ version }}.min.js"></script>
  </body>
</html>
